.header {
  width: 100%;
  background-color: #1a202c;
  color: white;
  position: fixed; 
  top: 0;
  z-index: 1000;
  padding: 20px 0; 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); 
}

.inner {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.logoContainer {
  display: flex;
  align-items: center;
}
.logo{
  max-width: 100%;
  height: auto;
}
.itemsContainer{
  display: flex;
  align-items:center;
}

.link {
  text-decoration: none;
  padding: 0px 15px 0 0;
  font-size: 16px; 
}
.link:hover{
  color:orange;
}
.link[data-active] {
  font-weight: bold; 
}
